// @import './../../reset.scss';

.users {
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    padding: 30px;
    overflow: hidden;

    &__title{
        font-size: 30px;
        justify-self: start;
        align-self: center;
    }
    &__list{
        display: grid;
    }
    &__header{
        display: grid;
        grid-template-columns: 100px 1fr;
    }
    &__pagination{
        justify-self: start;
        align-self: center;
        span{
            margin: 0px 5px 0px 5px;
            cursor: pointer;
        }
    }
}

.userBlock {
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px;
    grid-gap: 5px;
    grid-template-areas: 
    "imgFollow userInfo"
    ;

    margin: 30px 0px 30px 0px;

    &__imgPlusFollow{
        grid-area: imgFollow;
        display: grid;
    }

    &__img {
        img { 
            width: 100%;
            border-radius: 5px;
            border: 1px solid black
        }
    }

    &__btn {
        border: 2px solid black;
        border-radius: 5px;
        padding: 5px;
    }

    &__userInfo{
        grid-area: userInfo;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "fname country"
        "status city"
        ;

        border: 1px solid black;
        border-radius: 10px;
        margin: 0px 30px 0px 30px;
        padding: 20px;

        span {
            color: #05668D;
        }

    }

    &__name {
        grid-area: fname;
    }
    &__status {
        grid-area: status;
    }
    &__country {
        grid-area: country;
    }
    &__city {
        grid-area: city;
    }
}

.loadMore {
    justify-self: center;

    button {
        height: 100%;
    }
}

.followed {
    background-color: rgb(39, 104, 39);
    transition-duration: .9s;
}

.unfollowed {
    background-color: rgb(161, 38, 38);
    transition-duration: .9s;
}

.selected {
    font-weight: bold;
    font-size: 20px;
}